
body {
	background: rgb(128,128,128);
	width: 90%;
	 max-width: 900px;
	 margin: 0 auto;
	 font: .9em/1.2 Arial, Helvetica, sans-serif

}

h2 {
	background: rgb(8, 100, 47);
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 2%;
    text-decoration: none;

}
#Slogan{
    font-family: cursive;
    font-size: 18px;
}

#Links{
    text-decoration: None;
    font-size: larger;
    font-weight: bolder;
    background-color: dimgrey;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 15%;
}
.paragraph_1 {
  background-color: black;
  font-size: large;
  padding: 10px;
  height: 40%;
  color: #fff;
}
#big_words {
    color: green;
    text-align: center;
    font-size: x-large;
    padding-bottom: 0%;
}

.images{
	float: left;
	margin-top: 10px;
    margin-bottom: 10px;
	width: auto;
	height: 40%;
    padding: 1em;

}

#theFlexContainer {
	display: flex;
	padding: 2vw;
	margin: 5vh;
}
#theFlexContainer1 {
	display: flex;
	padding: 2vw;
	margin: 5vh;
  gap: 70px;
}
.paragraph_2 {
  font-family: monospace;
  clear: left;
  font-size: 20px;
  color: #000;
}

.foreground {
  background-color: rgb(65,74,76);
  padding: 10px;
  color: #fff;
	display: flow-root
}