
body{
	
    background-color: #A2AEBB;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    box-sizing: border-box;
}

#strawb_fields {
    border: none;
    background-color: #A2AEBB;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    box-sizing: border-box;
}
.grid-container {
    padding: 10%;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns:  auto auto auto auto auto auto auto auto ;
    justify-content: space-evenly;
    box-sizing: content-box;
  }
  
.grid-item {
    width: 120px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }

  .grid-item:hover {
    color: transparent;
  }
  img {
      height: 150px;
      width: auto;
  }
  
  img:hover {
      color: transparent;
      display: none;
  }

span {
    width: max-content;
    height: max-content;
}
.ascii {
    color: black;
    display: inline-block;
    white-space: pre;
    letter-spacing: 0;
    line-height: 1.4;
    font-family:'Consolas','BitstreamVeraSansMono','CourierNew',Courier,monospace;
    font-size:14px;
    text-align: center;
    width: fit-content;
}
@import url('https://fonts.googleapis.com/css?family=Corben:700');

h1 {
	font-size: 6rem;
	color: #E7EAEE;
	letter-spacing: 0.1rem;
	text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.66);
}

.hero {
	min-height: 30rem;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
}

.snow {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.snow .svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

#snow-top-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 45s infinite linear;
}

@keyframes fall {
	
	100% {
		transform: translateY(0);
	}
	
}
.eyes{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
  }
  .eye{
    width: 240px;
    height: 120px;
    background: #E7EAEE;
    display: inline-block;
    margin: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
  
  .ball{
    width: 40px;
    height: 40px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border: 15px solid #000;
  }

  .topnav {
    overflow: hidden;
    background-color: #363537;
  }

  .topnav a {
    float: left;
    color: #E7EAEE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #E7EAEE;
    color: black;
  }
